body {
    font-size: 100%;
}

h2 {
    margin-top: 5em;
}

li {
    display: inline;
    padding-right: 1em;
}

dt, dd {
    margin-bottom: 1em;
}

#document {
    width: 20em;
    min-height: 760px;
    margin: 0 auto;
}

#header {
    text-align: center;
}

#searchbox {
    width: 16em;
    margin-top: 4em;
    margin-bottom: 4em;
}