h2 {
    margin-top: 5em;
}

dt, dd {
    margin-bottom: 1em;
}

#document {
    width: 20em;
    margin: 0 auto;
}

#header {
    text-align: center;
}

#searchbox {
    width: 16em;
    margin-top: 4em;
    margin-bottom: 4em;
}