body {
    font-size: 100%;
}

h1 {
    font-size: 1.3em;
    letter-spacing: 0.06em;
    margin-top: 6em;
}

h6 {
    font-size: 1em;
    letter-spacing: 0.04em;
}

form {
    text-align: center;
    border-top: dashed 1px gray;
    margin: 4em 0 2.5em 0;
}

li {
    display: inline;
    padding-right: 1em;
}

dt, dd {
    margin-bottom: 1em;
}

#head {
    text-align: center;
}

#body {
    width: 19em;
    min-height: 500px;
    margin: 0 auto;
}

#searchbox {
    position: relative;
    top: -1em;
    font-size: 0.9em;
    width: 16em;
    margin: 0;
}