/*
values in this stylesheet will override the global counterparts
*/
p {
    text-align: left;
    width: 480px;
}

#navbar {
    background-color: #004433;
}

#navbar a:hover {
    background-color: #005544;
}

.large-sized {
    font-size: 2em;
}

.small-sized {
    font-size: 1.0em;
}

.primary-tinted {
    color: #339988;
}

.default-tinted {
    color: #000000;
}