#controller {
    background-color: #000000;
}

#controller a:hover {
    background-color: #333333;
}

.large-sized {
    font-size: 2em;
}

.small-sized {
    font-size: 1.0em;
}

.primary-tinted {
    color: #339988;
}

.default-tinted {
    color: #000000;
}